<div id="sets">
  <%= render :partial => "set_collection", :locals => { :collection_name => "Alphabetical", :sets => @sets.select { |set| set.set_type.eql? WordSet::BY_ALPHA }} %>
  <%= render :partial => "set_collection", :locals => { :collection_name => "By Length", :sets => @sets.select { |set| set.set_type.eql? WordSet::BY_LENGTH }} %>
</div>
